 .u-section-1 {
  background-image: url("images/hananweb2.0.jpg");
  background-size: auto 135%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-list-1 {
  width: 265px;
  margin: 30px auto 0 24px;
}

.u-section-1 .u-repeater-1 {
  min-height: 52px;
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 93px auto 0 40px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto 0 49px;
}

.u-section-1 .u-image-1 {
  width: 39px;
  height: 51px;
  margin: -51px auto 0 137px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 27px auto 0 49px;
}

.u-section-1 .u-image-2 {
  width: 53px;
  height: 54px;
  margin: 35px auto 0 40px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -46px auto 0 70px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
}

.u-section-1 .u-image-3 {
  width: 54px;
  height: 54px;
  margin: 8px auto 0 39px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -51px auto 0 99px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 70px auto 60px 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 119px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -17px;
  }

  .u-section-1 .u-image-1 {
    height: 52px;
    margin-top: -52px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 85px;
    margin-left: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 57px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 161px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -80px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -343px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -45px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-list-1 {
    width: 208px;
    margin-top: 11px;
    margin-left: -32px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -6px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -45px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 33px;
    height: 34px;
    margin-top: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -30px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-3 {
    width: 36px;
    height: 36px;
    margin-top: 9px;
    margin-left: -1px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: -31px;
    margin-left: 45px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 19px;
    margin-bottom: 11px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-image: url(images/hananmob.jpg);
    background-position: 51.9% 52.19%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-list-1 {
    width: 228px;
    margin-top: 20px;
    margin-left: -29px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 51px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 218px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -8px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-1 {
    width: 28px;
    height: 68px;
    margin-top: -53px;
    margin-left: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 22px;
    height: 23px;
    margin-top: 160px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -26px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    padding: 0;
  }

  .u-section-1 .u-image-3 {
    width: 25px;
    height: 25px;
    margin-top: -23px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -24px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -112px;
    margin-left: auto;
  }
}